
$primary: #54c8ff;
$secondary: #308bfd;
$lightgrey: #f3f3f3; /* abu muda */
// $darkestgrey: #5e5e5e;
$darkestgrey: black;
$darkgrey: #767676; /* abu tua */
$nav-height: 3em;

/* RESPONSIVE RANGE */
$top: 70px;
$lr: 100px;
$bottom: 0px;
$bottom-footer: 70px;